<section class="activities">
    <div class="container">
        <div class="activities__content js-tabs">





            <h2 class="section-heading activities__heading">
                СПИСОК АКТИВНОСТЕЙ
            </h2>
            <div class="activities__top-categories">
                <a href="#" class="activities__top-categories-link js-tabs-btn active">
                    Все
                </a>
                <a href="#" class="activities__top-categories-link js-tabs-btn">
                    Лето
                </a>
                <a href="#" class="activities__top-categories-link js-tabs-btn">
                    Осень
                </a>
                <a href="#" class="activities__top-categories-link js-tabs-btn">
                    Зима
                </a>
                <a href="#" class="activities__top-categories-link js-tabs-btn">
                    Весна
                </a>
            </div>
            <div class="activities__tab-items">
                <div class="activities__tab-item js-tabs-item">
                    <ul class="activities__results-list">
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/1.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">
                                        <h3 class="activities__results-card-title">
                                            Канатная дорога
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>


                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">




                                    <img src="img/activities/2.svg" alt="" class="activities__results-card-icon">

                                    <div class="activities__results-card-sliding-content">
                                        <h3 class="activities__results-card-title">
                                            Питание
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">
                                    <img src="img/activities/3.svg" alt="" class="activities__results-card-icon">
                                    <div class="activities__results-card-sliding-content">
                                        <h3 class="activities__results-card-title">
                                            Банный комплекс
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/4.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Все развлечения
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/5.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Летний прокат
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/6.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Даунхил
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/7.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Спортивный зал
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/8.svg" alt="" class="activities__results-card-icon">
                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Купить Bike-pass
                                            онлайн
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/9.svg" alt="" class="activities__results-card-icon">
                                    <div class="activities__results-card-sliding-content">
                                        <h3 class="activities__results-card-title">
                                            Комплексный
                                            «Веревочный парк»
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>


                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="activities__tab-item js-tabs-item">
                    <ul class="activities__results-list">
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">
                                    <img src="img/activities/3.svg" alt="" class="activities__results-card-icon">
                                    <div class="activities__results-card-sliding-content">
                                        <h3 class="activities__results-card-title">
                                            Банный комплекс
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/4.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Все развлечения
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/5.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Летний прокат
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/6.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Даунхил
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/7.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Спортивный зал
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/8.svg" alt="" class="activities__results-card-icon">
                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Купить Bike-pass
                                            онлайн
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/9.svg" alt="" class="activities__results-card-icon">
                                    <div class="activities__results-card-sliding-content">
                                        <h3 class="activities__results-card-title">
                                            Комплексный
                                            «Веревочный парк»
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>


                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="activities__tab-item js-tabs-item">
                    <ul class="activities__results-list">
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">
                                    <img src="img/activities/3.svg" alt="" class="activities__results-card-icon">
                                    <div class="activities__results-card-sliding-content">
                                        <h3 class="activities__results-card-title">
                                            Банный комплекс
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/4.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Все развлечения
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/5.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Летний прокат
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/6.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Даунхил
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/7.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Спортивный зал
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/8.svg" alt="" class="activities__results-card-icon">
                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Купить Bike-pass
                                            онлайн
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/9.svg" alt="" class="activities__results-card-icon">
                                    <div class="activities__results-card-sliding-content">
                                        <h3 class="activities__results-card-title">
                                            Комплексный
                                            «Веревочный парк»
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>


                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="activities__tab-item js-tabs-item">
                    <ul class="activities__results-list">
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/1.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">
                                        <h3 class="activities__results-card-title">
                                            Канатная дорога
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>


                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">




                                    <img src="img/activities/2.svg" alt="" class="activities__results-card-icon">

                                    <div class="activities__results-card-sliding-content">
                                        <h3 class="activities__results-card-title">
                                            Питание
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">
                                    <img src="img/activities/3.svg" alt="" class="activities__results-card-icon">
                                    <div class="activities__results-card-sliding-content">
                                        <h3 class="activities__results-card-title">
                                            Банный комплекс
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/4.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Все развлечения
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>


                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/7.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Спортивный зал
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>


                    </ul>
                </div>
                <div class="activities__tab-item js-tabs-item">
                    <ul class="activities__results-list">
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">
                                    <img src="img/activities/3.svg" alt="" class="activities__results-card-icon">
                                    <div class="activities__results-card-sliding-content">
                                        <h3 class="activities__results-card-title">
                                            Банный комплекс
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/4.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Все развлечения
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/5.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Летний прокат
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/6.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Даунхил
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/7.svg" alt="" class="activities__results-card-icon">


                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Спортивный зал
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/8.svg" alt="" class="activities__results-card-icon">
                                    <div class="activities__results-card-sliding-content">


                                        <h3 class="activities__results-card-title">
                                            Купить Bike-pass
                                            онлайн
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="activities__results-list-item">
                            <a href="#" class="activities__results-card">
                                <div class="activities__results-card-bg">
                                    <img src="img/activities-card-image.jpg" alt=""
                                        class="activities__results-card-image">
                                    <img src="img/activities-card-ornament.svg" alt=""
                                        class="activities__results-card-ornament">
                                </div>
                                <div class="activities__results-card-content">


                                    <img src="img/activities/9.svg" alt="" class="activities__results-card-icon">
                                    <div class="activities__results-card-sliding-content">
                                        <h3 class="activities__results-card-title">
                                            Комплексный
                                            «Веревочный парк»
                                        </h3>
                                        <div class="activities__results-card-text">
                                            <p>
                                                С 20 декабря 2019 года
                                                на территории курорта работает ресторан "Горный" на более 160 посадочных
                                                мест.
                                            </p>
                                        </div>
                                    </div>


                                    <svg width="14" height="14" aria-hidden="true" class="icon-fat-arrow-right">
                                        <use xlink:href="#fat-arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</section>