<section class="contacts">
    <div class="container">
        <div class="contacts__row">
            <div class="contacts__content">
                <h2 class="contacts__heading">
                    По всем вопросам:
                </h2>
                <ul class="contacts__info-list">
                    <li class="contacts__info-list-item">
                        <div class="contacts__card">
                            <h3 class="contacts__card-title">
                                Телефон:
                            </h3>
                            <a href="tel:+79139901572" class="contacts__card-link">
                                +7 (913) 990-15-72
                            </a>
                        </div>
                    </li>
                    <li class="contacts__info-list-item">
                        <div class="contacts__card">
                            <h3 class="contacts__card-title">
                                Отправить резюме:
                            </h3>
                            <a href="mailto:rabota@mglk.ru" class="contacts__card-link">
                                rabota@mglk.ru
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <img src="img/grey-logo.svg" alt="" class="contacts__logo">
        </div>
    </div>
</section>