<footer class="page-footer">
    <div class="container">
        <img src="img/footer-bar.svg" alt="" class="page-footer__bar">
        <div class="page-footer__top">
            <div class="inner-container">
                <div class="page-footer__top-row">
                    <nav class="page-footer__nav">
                        <div class="page-footer__nav-row">
                            <div class="page-footer__nav-col">
                                <ul class="page-footer__nav-list">
                                    <li class="page-footer__nav-list-item">
                                        <a href="#" class="page-footer__nav-link">
                                            О КОМПЛЕКСЕ
                                        </a>
                                        <ul class="page-footer__nav-submenu-list">
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Информация о курорте
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Инфраструктура
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Корпоративное обслуживание
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Карьера
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Календарь событий
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="page-footer__nav-list-item">
                                        <a href="#" class="page-footer__nav-link">
                                            УСЛУГИ
                                        </a>
                                        <ul class="page-footer__nav-submenu-list">
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Гондольная канатная дорога
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Ресторан "Горный"
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Лето
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Осень
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Зима
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Весна
                                                </a>
                                            </li>
                                        </ul>
                                    </li>


                                </ul>
                            </div>
                            <div class="page-footer__nav-col">
                                <ul class="page-footer__nav-list">

                                    <li class="page-footer__nav-list-item">
                                        <a href="#" class="page-footer__nav-link">
                                            ВСЕ СЕЗОНЫ
                                        </a>
                                        <ul class="page-footer__nav-submenu-list">
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Проживание
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Питание
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Алтайский банный комплекс/
                                                    Услуги массажа
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Экскурсии
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Развлечения
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Трансфер
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Сувенирные магазины
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Тропа здоровья
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Свадьба в горах
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                            <div class="page-footer__nav-col">
                                <ul class="page-footer__nav-list">
                                    <li class="page-footer__nav-list-item">
                                        <a href="#" class="page-footer__nav-link">
                                            НОВОСТИ
                                        </a>
                                    </li>
                                    <li class="page-footer__nav-list-item">
                                        <a href="#" class="page-footer__nav-link">
                                            ГАЛЕРЕЯ
                                        </a>
                                    </li>
                                    <li class="page-footer__nav-list-item">
                                        <a href="#" class="page-footer__nav-link">
                                            КОНТАКТЫ
                                        </a>
                                        <ul class="page-footer__nav-submenu-list">
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    График работы
                                                </a>
                                            </li>
                                            <li class="page-footer__nav-submenu-list-item">
                                                <a href="#" class="page-footer__nav-submenu-link">
                                                    Как добраться
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="page-footer__nav-list-item">
                                        <a href="#" class="page-footer__nav-link">
                                            ВИРТУАЛЬНЫЙ ТУР
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </nav>
                    <div class="page-footer__contacts">
                        <div class="page-footer__links">
                            <a href="#" class="page-footer__links-card">
                                <img src="img/appstore.jpg" alt="" class="page-footer__links-logo">
                            </a>
                            <a href="#" class="page-footer__links-card">
                                <img src="img/google-play.jpg" alt="" class="page-footer__links-logo">
                            </a>
                            <a href="#" class="page-footer__links-card">
                                <img src="img/leaders.png" alt="" class="page-footer__links-logo">
                            </a>
                            <a href="#" class="page-footer__links-card">
                                <img src="img/awards.jpg" alt="" class="page-footer__links-logo">
                            </a>
                        </div>
                        <ul class="page-footer__social-list">
                            <li class="page-footer__social-list-item">
                                <a href="#" class="page-footer__social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-fb">
                                        <use xlink:href="#fb"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-footer__social-list-item">
                                <a href="#" class="page-footer__social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-footer__social-list-item">
                                <a href="#" class="page-footer__social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-youtube">
                                        <use xlink:href="#youtube"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-footer__social-list-item">
                                <a href="#" class="page-footer__social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                        <use xlink:href="#vk"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-footer__social-list-item">
                                <a href="#" class="page-footer__social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-tripadvisor">
                                        <use xlink:href="#tripadvisor"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                        <div class="page-footer__copyright">
                            © 2022 «Манжерок», Озерное –<br>
                            официальный&nbsp;сайт&nbsp;горнолыжного<br>
                            комплекса
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="page-footer__bottom">
            <div class="inner-container">
                <div class="page-footer__bottom-row">
                    <a href="#" class="page-footer__logo">
                        <img src="img/text-logo.svg" alt="" class="page-footer__logo-text">
                        <img src="img/logo.svg" alt="" class="page-footer__logo-icon">
                    </a>
                    <div class="page-footer__bottom-links">
                        <a href="#" class="page-footer__bottom-link">
                            Правила курорта
                        </a>
                        <a href="#" class="page-footer__bottom-link">
                            Политика конфиденциальности
                        </a>
                        <a href="#" class="page-footer__bottom-link">
                            Условия бронирования
                        </a>
                        <a href="#" class="page-footer__bottom-link">
                            ЧАВО
                        </a>
                        <a href="#" class="page-footer__bottom-link">
                            Карта сайта
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>