<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="#" class="page-header__logo">
                <img src="img/text-logo.svg" alt="" class="page-header__logo-text">
                <img src="img/logo.svg" alt="" class="page-header__logo-icon">
            </a>
            <div class="page-header__burger-menu">
                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                О курорте
                                {{!-- <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg> --}}
                            </a>

                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Проживание
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Цены
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Услуги
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                            <div class="page-header__nav-dropdown">
                                <div class="page-header__nav-dropdown-inner">
                                    <div class="page-header__nav-dropdown-row">
                                        <div class="page-header__nav-dropdown-seasons">
                                            <div class="page-header__nav-dropdown-menu-item">
                                                <a href="#" class="page-header__nav-dropdown-menu-link">
                                                    <span>Лето</span>
                                                    <span>Лето</span>
                                                </a>
                                                <ul class="page-header__nav-dropdown-submenu-list">
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Летний прокат
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Дайнхилл
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Развлечения
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Спортзал
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Bike-pass
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="page-header__nav-dropdown-menu-item">
                                                <a href="#" class="page-header__nav-dropdown-menu-link">
                                                    <span>Зима</span>
                                                    <span>Зима</span>
                                                </a>
                                                <ul class="page-header__nav-dropdown-submenu-list">
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Прокат инвентаря
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Горнолыжная школа
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Схема трасс
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Беговые лыжи
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Купить Ski-pass
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="#" class="page-header__restaurant-card">
                                                <div class="page-header__restaurant-card-bg">
                                                    <img src="img/restaurant.jpg" alt=""
                                                        class="page-header__restaurant-card-bg-image">
                                                </div>
                                                <div class="page-header__restaurant-card-content">


                                                    <h3 class="page-header__restaurant-card-title">
                                                        Ресторан “горный”
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="page-header__nav-dropdown-all-seasons">
                                            <div class="page-header__nav-dropdown-menu-item">
                                                <a href="#" class="page-header__nav-dropdown-menu-link">
                                                    <span>Все сезоны</span>
                                                    <span>Все сезоны</span>
                                                </a>
                                                <ul class="page-header__nav-dropdown-submenu-list">
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Проживание
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Питание
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Алтайский банный комплекс
                                                            Услуги массажа
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Экскурсии
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Отдых на Алтае с детьми
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Развлечения
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Трансфер
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Сувенирные магазины
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Тропа здоровья
                                                        </a>
                                                    </li>
                                                    <li class="page-header__nav-dropdown-submenu-list-item">
                                                        <a href="#" class="page-header__nav-dropdown-menu-submenu-link">
                                                            Свадьба в горах
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="page-header__nav-dropdown-other">
                                            <div class="page-header__nav-dropdown-menu-item">
                                                <a href="#" class="page-header__nav-dropdown-menu-link">
                                                    <span>Гондольная канатная дорога</span>
                                                    <span>Гондольная канатная дорога</span>
                                                </a>

                                            </div>
                                            <div class="page-header__nav-dropdown-menu-item">
                                                <a href="#" class="page-header__nav-dropdown-menu-link">
                                                    <span>Корпоративное обслуживание</span>
                                                    <span>Корпоративное обслуживание</span>
                                                </a>

                                            </div>
                                            <a href="#" class="page-header__nav-dropdown-other-card">
                                                <img src="img/other.jpg" alt=""
                                                    class="page-header__nav-dropdown-other-card-image">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Акции
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Партнерам
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Пресс-центр
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                            <div class="page-header__nav-dropdown">
                                <div class="page-header__nav-dropdown-inner">
                                    <div class="page-header__nav-dropdown-cards">
                                        <a href="#" class="page-header__nav-dropdown-card">
                                            <div class="page-header__nav-dropdown-card-bg">
                                                <img src="img/header-card-1.jpg" alt=""
                                                    class="page-header__nav-dropdown-card-bg-image">
                                            </div>
                                            <div class="page-header__nav-dropdown-card-content">
                                                <h3 class="page-header__nav-dropdown-card-title">
                                                    Новости
                                                </h3>
                                            </div>
                                        </a>
                                        <a href="#" class="page-header__nav-dropdown-card">
                                            <div class="page-header__nav-dropdown-card-bg">
                                                <img src="img/header-card-2.jpg" alt=""
                                                    class="page-header__nav-dropdown-card-bg-image">
                                            </div>
                                            <div class="page-header__nav-dropdown-card-content">
                                                <h3 class="page-header__nav-dropdown-card-title">
                                                    СМИ о нас
                                                </h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="page-header__contacts">
                <a href="#" class="page-header__search-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-search">
                        <use xlink:href="#search"></use>
                    </svg>
                </a>
                <span class="page-header__contacts-divider"></span>
                <a href="tel:+79139928888" class="page-header__phone-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                        <use xlink:href="#phone"></use>
                    </svg>
                    <span class="page-header__phone-link-text">
                        +7(913)992 88 88
                    </span>
                </a>
            </div>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>