{{#extend "layout"}}
{{#content "main"}}

<section class="common-header">

    <div class="container">
        <div class="common-header__content">
            <div class="common-header__bg">
                <img src="img/vacancies-bg.jpg" alt="" class="common-header__bg-image">
            </div>
            <div class="common-header__breadcrumbs">
                <a href="#" class="common-header__breadcrumbs-link">
                    Главная
                </a>
                <span class="common-header__breadcrumbs-divider">
                    ·
                </span>

                <a href="#" class="common-header__breadcrumbs-link active">
                    Информация о курорте
                </a>
            </div>
            <h1 class="common-header__main-title">
                Информация о курорте
            </h1>
            <div class="common-header__text">
                Уникальность курорта заключается в его расположении у подножия знаменитой горы Малая Синюха
                и единственного теплого озера в Республике Алтай. Мы гарантируем вам экологичный отдых, ведь курорт
                располагается в заповедном крае.
            </div>
        </div>
    </div>
</section>

{{> filters }}

<section class="about-intro">
    <div class="container">
        <div class="about-intro__content">


            <div class="about-intro__text-content">
                <div class="about-intro__large-text">
                    <p>
                        На курорте поддерживается <em>концепция здорового образа жизни,</em> здесь проходят сборы у
                        ведущих
                        спортсменов России, созданы
                        все <em>условия для проведения активных корпоративных мероприятий, семейного и спортивного
                            отдыха.</em>
                    </p>
                </div>
                <div class="about-intro__small-text">
                    <p>
                        “Манжерок” как курорт начал свое существование еще в 2010 году. В этот год была запущена первая
                        канатная дорога и первые три корпуса гостиничного комплекса.
                    </p>
                </div>
            </div>
            <div class="about-intro__row">
                <img data-src="img/about-intro/1.jpg" alt="" class="lazyload">
                <img data-src="img/about-intro/2.jpg" alt="" class="lazyload">
            </div>
        </div>
    </div>
</section>

<section class="about-history">
    <div class="container">
        <div class="about-history__content">
            <div class="about-history__text">
                <p>
                    <em>В 2017 году курорт стал одним из приоритетных инвестпроектов ПАО “Сбербанк России”</em>, именно
                    это событие вдохнуло вторую жизнь
                    в курорт, <em>были запущены и реализованы целый ряд проектов</em>
                    по строительству и развитию инфраструктуры:
                </p>
            </div>
            <ul class="about-history__list">
                <li class="about-history__list-item">
                    <div class="about-history__card">

                        <em>запущена новая гондольная канатная дорога,</em> протяженностью
                        <em>2 516 метров</em>, с единственной в России системой бесконтактной
                        оплаты на турникете;
                    </div>
                </li>
                <li class="about-history__list-item">
                    <div class="about-history__card">

                        гостиничный <em>комплекс увеличен</em> с 3-х <em>до 7-и корпусов</em>;
                    </div>
                </li>
                <li class="about-history__list-item">
                    <div class="about-history__card">

                        проведено <em>множество работ по облагораживанию территории;</em>
                    </div>
                </li>
                <li class="about-history__list-item">
                    <div class="about-history__card">

                        <em>построен современный сувенирный городок,</em> созданы новые
                        арендные зоны торговли;
                    </div>
                </li>
                <li class="about-history__list-item">
                    <div class="about-history__card">

                        построен <em>самый современный в Республике всесезонный прокат</em>
                        с оборудованием <em>от ведущего мирового поставщика Wintersteiger;</em>
                    </div>
                </li>
                <li class="about-history__list-item">
                    <div class="about-history__card">

                        <em> открыто более 5 точек питания</em>, в том числе <em>ресторан “Горный”;</em>
                    </div>
                </li>
                <li class="about-history__list-item">
                    <div class="about-history__card">
                        оборудованы <em>зоны отдыха, развлечения для детей и взрослых,
                            2 спортивные площадки; </em>
                    </div>
                </li>
                <li class="about-history__list-item">
                    <div class="about-history__card">

                        запущена <em>временная система механического оснежения трасс;</em>
                    </div>
                </li>

                <li class="about-history__list-item">
                    <div class="about-history__card">

                        построен <em>самый большой в России байк-парк</em> с черной трассой сложнейшего уровня,
                        <em>общая протяженность трасс более 13 км;</em>
                    </div>
                </li>

                <li class="about-history__list-item">
                    <div class="about-history__card">

                        внедрен <em>полный ребрендинг курорта и инфраструктуры;</em>
                    </div>
                </li>

                <li class="about-history__list-item">
                    <div class="about-history__card">

                        построена и запущена <em>система механического снегообразования;</em>
                    </div>
                </li>

                <li class="about-history__list-item">
                    <div class="about-history__card">

                        в зимнем сезоне 2020-2021 года <em>увеличен километраж трасс</em>
                        с 3000 метров <em>до 8500 метров;</em>
                    </div>
                </li>

                <li class="about-history__list-item">
                    <div class="about-history__card">

                        <em>организовано более сотен</em>, а может и <em>тысяч, мероприятий
                            для гостей курорта.</em>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>


<section class="about-advantage">
    <div class="container">
        <div class="about-advantage__content">
            <div class="about-advantage__text">


                <p>
                    Всесезонный курорт <em>«Манжерок» - крупнейший круглогодичный курорт в Республике Алтай</em>, готов
                    принять гостей 365 дней в году.
                </p>
                <p>
                    Кроме этого, у Всесезонного курорта «Манжерок» есть особое предложение для влюбленных пар, мечтающих
                    о свадебной церемонии в необычном месте, — «Свадьба в горах».
                </p>
            </div>
        </div>
    </div>
</section>


<section class="about-construction">
    <div class="container">
        <div class="about-construction__content">
            <div class="about-construction__slider js-construction-slider">
                <div class="about-construction__slider-main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="about-construction__slider-card">
                                    <img data-src="img/construction.jpg" alt=""
                                        class="about-construction__slider-card-image lazyload">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about-construction__slider-card">
                                    <img data-src="img/construction.jpg" alt=""
                                        class="about-construction__slider-card-image lazyload">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about-construction__slider-card">
                                    <img data-src="img/construction.jpg" alt=""
                                        class="about-construction__slider-card-image lazyload">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-construction__slider-row">
                    <div class="slider-arrow slider-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </div>
                    <div class="about-construction__slider-inner">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="about-construction__slider-inner-card">
                                        Рендер нового отеля
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="about-construction__slider-inner-card">
                                        Рендер нового отеля
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="about-construction__slider-inner-card">
                                        Рендер нового отеля
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrow slider-arrow--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <h2 class="about-construction__heading">
                Строительные работы на ВК “Манжерок”
            </h2>
            <div class="about-construction__large-text">
                <p>
                    Уважаемые гости, мы благодарим Вас, что местом своего отдыха, при путешествии на Алтай, вы выбираете
                    Всесезонный курорт “Манжерок”.
                </p>
            </div>
            <div class="about-construction__row">
                <div class="about-construction__text-content">
                    <h3>
                        С апреля 2021 года идет строительство нового проекта. Строим курорт будущего!
                    </h3>
                    <p>
                        Работы ведутся в отдалении от отеля, территория огорожена забором, вся инфраструктура курорта
                        функционирует согласно штатному расписанию. Строительные работы будут вестись постоянно.
                    </p>
                    <p>
                        Администрация курорта, в свою очередь, предпринимает все возможные меры чтобы предоставить своим
                        гостям комфортные условия для пребывания на курорте в период строительства.
                    </p>
                    <p>
                        Со своей стороны мы стараемся приложить максимум усилий в организации строительных процессов,
                        чтобы сократить сроки строительства.
                    </p>
                    <h3>
                        Завершение строительства планируется на декабрь 2022 года.
                    </h3>
                    <p>
                        По итогам мы презентуем новый формат отдыха. С повышенным уровнем комфорта и безопасности.
                        Количество номеров для размещения увеличится почти вдвое, инфраструктура приятно удивит каждого.
                    </p>
                    <p>
                        Помимо этого, с расширением курорта будет увеличен штат сотрудников. Что позволит предоставить
                        еще больше рабочих мест для жителей Республики и близлежащих городов.
                    </p>
                </div>
                <a href="#" class="about-construction__rules">
                    <svg width="14" height="14" aria-hidden="true" class="icon-docs">
                        <use xlink:href="#docs"></use>
                    </svg>
                    <h3 class="about-construction__rules-title">

                        Правила курорта
                    </h3>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="about-location">
    <div class="container">
        <div class="about-location__content">
            <h2 class="about-location__heading">
                Как добраться?
            </h2>
            <ul class="about-location__list">
                <li class="about-location__list-item">
                    <div class="about-location__card">
                        <h3 class="about-location__card-heading">
                            Есть несколько способов добраться до курорта:
                        </h3>
                        <ul class="about-location__card-list">
                            <li class="about-location__card-list-item">
                                заказать трансфер курорта
                            </li>
                            <li class="about-location__card-list-item">
                                рейсовые автобусы
                            </li>
                            <li class="about-location__card-list-item">
                                авиаперелет. Курорт находится в 20 минут езды от аэропорта г. Горно-Алтайска.
                            </li>
                            <li class="about-location__card-list-item">
                                личный автомобиль;
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="about-location__list-item">
                    <div class="about-location__card">
                        <h3 class="about-location__card-heading">
                            Где остановиться?
                        </h3>
                        <div class="about-location__card-text">
                            Проживание в комфортабельных номерах Гостиничного комплекса европейского уровня.
                        </div>
                    </div>
                </li>
                <li class="about-location__list-item">
                    <div class="about-location__card">
                        <h3 class="about-location__card-heading">
                            Как подняться?
                        </h3>
                        <div class="about-location__card-text">
                            Современная гондольная канатная дорога поднимет вас до верхней станции за 12-15 минут.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="about-seasons js-about-seasons">
    <div class="container">
        <div class="about-seasons__content">
            <div class="about-seasons__cards">
                <div class="about-seasons__card active">
                    <div class="about-seasons__card-bg">
                        <img data-src="img/about-seasons/1.jpg" alt="" class="about-seasons__card-bg-image lazyload">
                    </div>
                    <h3 class="about-seasons__card-title">
                        Зима
                    </h3>
                    <div class="about-seasons__card-content">


                        <ul class="about-seasons__info-list">
                            <li class="about-seasons__info-list-item">
                                <div class="about-seasons__info-card">
                                    <h4 class="about-seasons__info-card-title">
                                        Стоимость ски-пасса:
                                    </h4>
                                    <div class="about-seasons__info-card-text">
                                        Экскурсионный подъем (круглогодично) - от 500 рублей;<br>
                                        Дневной ски-пасс (зима) - от 1 000 рублей.<br>
                                        Дети до 6 лет бесплатно на все виды услуг канатных дорог курорта
                                        (круглогодично). <a href="#">Ссылка</a>
                                    </div>
                                </div>
                            </li>
                            <li class="about-seasons__info-list-item">
                                <div class="about-seasons__info-card">
                                    <h4 class="about-seasons__info-card-title">
                                        Дополнительно:
                                    </h4>
                                    <div class="about-seasons__info-card-text">
                                        Помимо горнолыжных трасс приглашаем вас посетить перевернутый дом, детскую
                                        площадку, каток. Можете арендовать снегоход, прокатиться на тюбинге и,
                                        обязательно, посетите наш Алтайский банный комплекс.
                                    </div>
                                </div>
                            </li>
                            <li class="about-seasons__info-list-item">
                                <div class="about-seasons__info-card">
                                    <h4 class="about-seasons__info-card-title">
                                        Прокат снаряжения:
                                    </h4>
                                    <div class="about-seasons__info-card-text">
                                        Можете арендовать недостающую часть вашего горнолыжного снаряжения (маска,
                                        перчатки, штаны и т.д.) или взять в прокат горнолыжный комплект полностью.
                                    </div>
                                </div>
                            </li>
                            <li class="about-seasons__info-list-item">
                                <div class="about-seasons__info-card">
                                    <h4 class="about-seasons__info-card-title">
                                        Трассы:
                                    </h4>
                                    <div class="about-seasons__info-card-text">
                                        общая протяженность более 8 000 метров.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="about-seasons__card">
                    <div class="about-seasons__card-bg">
                        <img data-src="img/about-seasons/2.jpg" alt="" class="about-seasons__card-bg-image lazyload">
                    </div>
                    <h3 class="about-seasons__card-title">
                        Лето
                    </h3>
                    <div class="about-seasons__card-content">


                        <ul class="about-seasons__info-list">
                            <li class="about-seasons__info-list-item">
                                <div class="about-seasons__info-card">
                                    <h4 class="about-seasons__info-card-title">
                                        Стоимость ски-пасса:
                                    </h4>
                                    <div class="about-seasons__info-card-text">
                                        Экскурсионный подъем (круглогодично) - от 500 рублей;<br>
                                        Дневной ски-пасс (зима) - от 1 000 рублей.<br>
                                        Дети до 6 лет бесплатно на все виды услуг канатных дорог курорта
                                        (круглогодично).
                                    </div>
                                </div>
                            </li>
                            <li class="about-seasons__info-list-item">
                                <div class="about-seasons__info-card">
                                    <h4 class="about-seasons__info-card-title">
                                        Дополнительно:
                                    </h4>
                                    <div class="about-seasons__info-card-text">
                                        Помимо горнолыжных трасс приглашаем вас посетить перевернутый дом, детскую
                                        площадку, каток. Можете арендовать снегоход, прокатиться на тюбинге и,
                                        обязательно, посетите наш Алтайский банный комплекс.
                                    </div>
                                </div>
                            </li>
                            <li class="about-seasons__info-list-item">
                                <div class="about-seasons__info-card">
                                    <h4 class="about-seasons__info-card-title">
                                        Прокат снаряжения:
                                    </h4>
                                    <div class="about-seasons__info-card-text">
                                        Можете арендовать недостающую часть вашего горнолыжного снаряжения (маска,
                                        перчатки, штаны и т.д.) или взять в прокат горнолыжный комплект полностью.
                                    </div>
                                </div>
                            </li>
                            <li class="about-seasons__info-list-item">
                                <div class="about-seasons__info-card">
                                    <h4 class="about-seasons__info-card-title">
                                        Трассы:
                                    </h4>
                                    <div class="about-seasons__info-card-text">
                                        общая протяженность более 8 000 метров.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="about-seasons__card">
                    <div class="about-seasons__card-bg">
                        <img data-src="img/about-seasons/3.jpg" alt="" class="about-seasons__card-bg-image lazyload">
                    </div>
                    <h3 class="about-seasons__card-title">
                        осень/весна
                    </h3>
                    <div class="about-seasons__card-content">


                        <ul class="about-seasons__info-list">
                            <li class="about-seasons__info-list-item">
                                <div class="about-seasons__info-card">
                                    <h4 class="about-seasons__info-card-title">
                                        Стоимость ски-пасса:
                                    </h4>
                                    <div class="about-seasons__info-card-text">
                                        Экскурсионный подъем (круглогодично) - от 500 рублей;<br>
                                        Дневной ски-пасс (зима) - от 1 000 рублей.<br>
                                        Дети до 6 лет бесплатно на все виды услуг канатных дорог курорта
                                        (круглогодично).
                                    </div>
                                </div>
                            </li>
                            <li class="about-seasons__info-list-item">
                                <div class="about-seasons__info-card">
                                    <h4 class="about-seasons__info-card-title">
                                        Дополнительно:
                                    </h4>
                                    <div class="about-seasons__info-card-text">
                                        Помимо горнолыжных трасс приглашаем вас посетить перевернутый дом, детскую
                                        площадку, каток. Можете арендовать снегоход, прокатиться на тюбинге и,
                                        обязательно, посетите наш Алтайский банный комплекс.
                                    </div>
                                </div>
                            </li>
                            <li class="about-seasons__info-list-item">
                                <div class="about-seasons__info-card">
                                    <h4 class="about-seasons__info-card-title">
                                        Прокат снаряжения:
                                    </h4>
                                    <div class="about-seasons__info-card-text">
                                        Можете арендовать недостающую часть вашего горнолыжного снаряжения (маска,
                                        перчатки, штаны и т.д.) или взять в прокат горнолыжный комплект полностью.
                                    </div>
                                </div>
                            </li>
                            <li class="about-seasons__info-list-item">
                                <div class="about-seasons__info-card">
                                    <h4 class="about-seasons__info-card-title">
                                        Трассы:
                                    </h4>
                                    <div class="about-seasons__info-card-text">
                                        общая протяженность более 8 000 метров.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-text">
    <div class="container">
        <div class="about-text__content">
            <p>
                Всесезонный курорт «Манжерок» ежегодно радует своих гостей яркими спортивными фестивалями: «Манжерок
                Снегафест» (соревнования по горнолыжным видам спорта), «Manzherok Vortex Games» (соревнования по
                снегоходам и сноубайкам), «Manzherok Husky Race» (соревнования ездовых собак), «Манжерок Байк-фест»
                (фестиваль маунтинбайка), соревнования по техническим видам спорта эндуро «GoRA» и многие другие.
            </p>
        </div>
    </div>
</section>

<section class="about-features">
    <div class="container">
        <div class="about-features__content">
            <ul class="about-features__list">
                <li class="about-features__list-item">
                    <div class="about-features__card">
                        <div class="about-features__card-content">
                            <h3 class="about-features__card-title">
                                Питание:
                            </h3>
                            <div class="about-features__card-text">
                                <p>
                                    В новом ресторане “Горный” предлагаем вам отведать аутентичные блюда и расслабиться
                                    в непринужденной обстановке, современный дизайн будет прекрасным дополнением к
                                    вашему времяпровождению. Средний чек 1 200 рублей.


                                </p>
                                <p>
                                    Для своих гостей мы предлагаем полноценное здоровое питание
                                    по самым выгодным ценам по системе "Шведский стол".
                                </p>
                            </div>
                            <a href="#" class="btn about-features__card-link">
                                подробнее о работе ресторана
                            </a>
                        </div>
                        <img data-src="img/about-features/1.jpg" alt="" class="about-features__card-image lazyload">
                    </div>
                </li>
                <li class="about-features__list-item">
                    <div class="about-features__card">
                        <div class="about-features__card-content">
                            <h3 class="about-features__card-title">
                                Корпоративные мероприятия:
                            </h3>
                            <div class="about-features__card-text">
                                <p>
                                    Территория Всесезонного курорта «Манжерок» располагает всей необходимой
                                    инфраструктурой для проведения корпоративных мероприятий, командообразования и
                                    выездных сессий.


                                </p>
                                <p>
                                    Крупнейший в Республике Алтай шатер для мероприятий на 500 кв. м. прекрасно подойдет
                                    даже для самых крупных мероприятий. Развитая инфраструктура курорта и гостиничный
                                    комплекс европейского уровня позволяют размещать одновременно до 240 человек.


                                </p>
                                <p>
                                    Мы создаем своим партнерам лучшие условия для развития бизнеса. Именно здесь,
                                    возможно, принимаются самые обдуманные, здравые и эффективные решения.
                                </p>
                            </div>

                        </div>
                        <img data-src="img/about-features/2.jpg" alt="" class="about-features__card-image lazyload">
                    </div>
                </li>
                <li class="about-features__list-item">
                    <div class="about-features__card">
                        <div class="about-features__card-content">
                            <h3 class="about-features__card-title">
                                Последние достижения:
                            </h3>
                            <div class="about-features__card-text">
                                <p>
                                    3 премии Ski Business Awards:
                                </p>
                                <p>
                                    2018 г. Байк-парк получил премию в номинации «Лучший байк-парк на ГЛК»,
                                </p>
                                <p>
                                    2019 г. «Самый ориентированный курорт в области корпоративной социальной
                                    ответственности»,
                                </p>
                                <p>
                                    2020 г. "Самый посещаемый объект Сибирского Федерального округа".
                                </p>
                                <p>
                                    Сезон 2019-2020 г . - лучший курорт России для семейного горнолыжного отдыха по
                                    версии Ростуризма.
                                </p>
                                <p>
                                    В 2018 году на курорте появилась новая программа «Ролики (лето) и Лыжи (зима)
                                    мечты». Программа создана для детей с различными проблемами здоровья, такими как
                                    диагноз ДЦП (детский церебральный паралич), аутизм, синдром Дауна, нарушения зрения
                                    и слуха и прочее. Обучение проводят квалифицированные инструкторы по роллер спорту,
                                    прошедшие курс специальной подготовки по работе с детьми с ограниченными
                                    возможностями здоровья.
                                </p>
                            </div>

                        </div>
                        <img data-src="img/about-features/3.jpg" alt="" class="about-features__card-image lazyload">
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>

{{> contacts }}



{{/content}}
{{/extend}}