{{#extend "layout"}}
{{#content "main"}}

<section class="article-header">
    <div class="container">
        <div class="article-header__content">
            <div class="article-header__bg">
                <img src="img/article-bg.jpg" alt="" class="article-header__bg-image">
            </div>


            <div class="article-header__breadcrumbs">
                <a href="/" class="article-header__breadcrumbs-link">
                    Главная
                </a>
                <span class="article-header__breadcrumbs-divider">
                    ·
                </span>
                <a href="news.html" class="article-header__breadcrumbs-link">
                    Пресс-центр
                </a>
                <span class="article-header__breadcrumbs-divider">
                    ·
                </span>
                <a href="#" class="article-header__breadcrumbs-link active">
                    Первенство по горнолыжному спорту прошло в Манжероке
                </a>
            </div>
            <div class="article-header__bottom-content">


                <div class="article-header__date">
                    · 17 марта 2022
                </div>
                <div class="article-header__row">
                    <h1 class="article-header__main-heading">
                        ПЕРВЕНСТВО ПО ГОРНОЛЫЖНОМУ СПОРТУ ПРОШЛО В МАНЖЕРОКЕ
                    </h1>
                    <div class="article-header__sharing">
                        <h3 class="article-header__sharing-heading">
                            Поделиться:
                        </h3>
                        <ul class="article-header__sharing-list">
                            <li class="article-header__sharing-list-item">
                                <a href="#" class="article-header__sharing-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-fb">
                                        <use xlink:href="#sharing-fb"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="article-header__sharing-list-item">
                                <a href="#" class="article-header__sharing-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-twitter">
                                        <use xlink:href="#sharing-twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="article-header__sharing-list-item">
                                <a href="#" class="article-header__sharing-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#sharing-instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="article-header__sharing-list-item">
                                <a href="#" class="article-header__sharing-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                        <use xlink:href="#sharing-telegram"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="article-content">
    <div class="container">
        <div class="article-content__text">
            <h3>
                Красивый спорт в красивом месте: открытое Первенство по горнолыжному спорту прошло в Манжероке.
            </h3>
            <p>
                <b>
                    С 15-16 марта 2022 года на курорте «Манжерок» Республики Алтай прошли республиканские открытые
                    соревнования среди юношей и девушек по горнолыжному спорту.
                </b>
            </p>
            <p>
                <b>
                    125 спортсменов, 8 городов и 4 сибирских региона. Красивый спорт на курорте Манжерок собрал лучших
                    горнолыжников. На этот раз участие приняли спортсмены из Горно-Алтайска, Барнаула, Белокурихи,
                    Новокузнецка, Новосибирска, Междуреченска, Мыски и Кемерово.
                </b>
            </p>
            <p>
                Горнолыжники соревновались в двух дисциплинах: слалом – гигант и комбинация.


            </p>
            <p>
                Удача улыбнулась многим. Среди победителей и наши земляки - Бондарев Глеб, Тумашова Валерия, Ломакин
                Антон, Порохня Полина и Кокшаров Захар. Поздравляем ребят с достойной победой.


            </p>
            <p>
                По словам участников, на трассах были зафиксированы высокие спортивные результаты. Кроме того, службы
                курорта приложили максимум усилий, чтобы соревнования прошли на должном уровне, чтобы спортсмены
                чувствовали себя комфортно и показали все свои возможности.
            </p>
            <h2>
                Соревнования прошли под эгидой Российской федерации горнолыжного спорта.
            </h2>
            <p>
                Отметим, с каждым годом количество соревнований на территории курорта растет. По словам генерального
                директора Всесезонного курорта "Манжерок" Владимира Щербинина, 2022 год начался для курорта динамично.
                Впервые здесь прошел этап Кубка России по горнолыжному спорту. Он собрал сильнейших спортсменов из 15
                регионов России, в том числе членов сборной команды России по горнолыжному спорту. Подобного масштаба
                соревнования в Манжероке не проводились более 45 лет. Сегодня это возможно благодаря созданной
                инфраструктуре.
            </p>
            <p>
                Фотоотчет с соревнований доступен в нашей группе социальной сети "ВКонтакте" –
                <a href="https://vk.com/manzherok_resort">https://vk.com/manzherok_resort</a>
            </p>
        </div>
    </div>
</section>


<section class="article-gallery js-article-gallery">
    <div class="container">
        <div class="article-gallery__slider">
            <div class="article-gallery__slider-main">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="article-gallery__slider-main-card">
                                <img data-src="img/article-gallery.jpg" alt=""
                                    class="article-gallery__slider-main-card-image lazyload">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-gallery__slider-main-card">
                                <img data-src="img/article-gallery.jpg" alt=""
                                    class="article-gallery__slider-main-card-image lazyload">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-gallery__slider-main-card">
                                <img data-src="img/article-gallery.jpg" alt=""
                                    class="article-gallery__slider-main-card-image lazyload">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-gallery__slider-main-card">
                                <img data-src="img/article-gallery.jpg" alt=""
                                    class="article-gallery__slider-main-card-image lazyload">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-gallery__slider-main-card">
                                <img data-src="img/article-gallery.jpg" alt=""
                                    class="article-gallery__slider-main-card-image lazyload">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-gallery__slider-main-card">
                                <img data-src="img/article-gallery.jpg" alt=""
                                    class="article-gallery__slider-main-card-image lazyload">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-arrow slider-arrow--prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </div>
                <div class="slider-arrow slider-arrow--next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </div>
            <div class="article-gallery__slider-thumbs">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="article-gallery__slider-thumbs-card">
                                <img data-src="img/article-gallery.jpg" alt=""
                                    class="article-gallery__slider-thumbs-card-image lazyload">
                                <div class="article-gallery__slider-thumbs-card-border"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-gallery__slider-thumbs-card">
                                <img data-src="img/article-gallery.jpg" alt=""
                                    class="article-gallery__slider-thumbs-card-image lazyload">
                                <div class="article-gallery__slider-thumbs-card-border"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-gallery__slider-thumbs-card">
                                <img data-src="img/article-gallery.jpg" alt=""
                                    class="article-gallery__slider-thumbs-card-image lazyload">
                                <div class="article-gallery__slider-thumbs-card-border"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-gallery__slider-thumbs-card">
                                <img data-src="img/article-gallery.jpg" alt=""
                                    class="article-gallery__slider-thumbs-card-image lazyload">
                                <div class="article-gallery__slider-thumbs-card-border"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-gallery__slider-thumbs-card">
                                <img data-src="img/article-gallery.jpg" alt=""
                                    class="article-gallery__slider-thumbs-card-image lazyload">
                                <div class="article-gallery__slider-thumbs-card-border"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-gallery__slider-thumbs-card">
                                <img data-src="img/article-gallery.jpg" alt=""
                                    class="article-gallery__slider-thumbs-card-image lazyload">
                                <div class="article-gallery__slider-thumbs-card-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="article-other-news js-article-other-news">
    <div class="container">
        <div class="article-other-news__top-row">
            <h2 class="article-other-news__heading">
                ЧИТАТЬ ЕЩЕ
            </h2>
            <div class="article-other-news__arrows">
                <button class="article-other-news__arrow article-other-news__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                        <use xlink:href="#gradient-slider-left-arrow"></use>
                    </svg>
                </button>
                <button class="article-other-news__arrow article-other-news__arrow--next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                        <use xlink:href="#gradient-slider-right-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="article-other-news__slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="article-other-news__card">
                            <div class="article-other-news__card-bg">
                                <img data-src="img/other-news/1.jpg" alt=""
                                    class="article-other-news__card-bg-image lazyload">
                            </div>
                            <div class="article-other-news__card-content">
                                <div class="article-other-news__card-top-row">
                                    <div class="article-other-news__card-date">
                                        · 28 февраля
                                    </div>
                                    <div class="article-other-news__card-tags">
                                        <div class="article-other-news__card-tag">
                                            Новости
                                        </div>
                                    </div>
                                </div>
                                <h3 class="article-other-news__card-title">
                                    С 28.02 по 1.03 красная трасса "Катунь" будет закрыта в связи
                                    со строительными работами!
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="article-other-news__card">
                            <div class="article-other-news__card-bg">
                                <img data-src="img/other-news/2.jpg" alt=""
                                    class="article-other-news__card-bg-image lazyload">
                            </div>
                            <div class="article-other-news__card-content">
                                <div class="article-other-news__card-top-row">
                                    <div class="article-other-news__card-date">
                                        · 28 февраля
                                    </div>
                                    <div class="article-other-news__card-tags">
                                        <div class="article-other-news__card-tag">
                                            сми о нас
                                        </div>
                                    </div>
                                </div>
                                <h3 class="article-other-news__card-title">
                                    Детские соревнования по горным лыжам и сноуборду 23 февраля
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="article-other-news__card">
                            <div class="article-other-news__card-bg">
                                <img data-src="img/other-news/3.jpg" alt=""
                                    class="article-other-news__card-bg-image lazyload">
                            </div>
                            <div class="article-other-news__card-content">
                                <div class="article-other-news__card-top-row">
                                    <div class="article-other-news__card-date">
                                        · 28 февраля
                                    </div>
                                    <div class="article-other-news__card-tags">
                                        <div class="article-other-news__card-tag">
                                            новости
                                        </div>
                                    </div>
                                </div>
                                <h3 class="article-other-news__card-title">
                                    Вице-президент “Сбера” - о развитии алтайского курорта
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="article-other-news__card">
                            <div class="article-other-news__card-bg">
                                <img data-src="img/other-news/1.jpg" alt=""
                                    class="article-other-news__card-bg-image lazyload">
                            </div>
                            <div class="article-other-news__card-content">
                                <div class="article-other-news__card-top-row">
                                    <div class="article-other-news__card-date">
                                        · 28 февраля
                                    </div>
                                    <div class="article-other-news__card-tags">
                                        <div class="article-other-news__card-tag">
                                            Новости
                                        </div>
                                    </div>
                                </div>
                                <h3 class="article-other-news__card-title">
                                    С 28.02 по 1.03 красная трасса "Катунь" будет закрыта в связи
                                    со строительными работами!
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="article-other-news__card">
                            <div class="article-other-news__card-bg">
                                <img data-src="img/other-news/2.jpg" alt=""
                                    class="article-other-news__card-bg-image lazyload">
                            </div>
                            <div class="article-other-news__card-content">
                                <div class="article-other-news__card-top-row">
                                    <div class="article-other-news__card-date">
                                        · 28 февраля
                                    </div>
                                    <div class="article-other-news__card-tags">
                                        <div class="article-other-news__card-tag">
                                            сми о нас
                                        </div>
                                    </div>
                                </div>
                                <h3 class="article-other-news__card-title">
                                    Детские соревнования по горным лыжам и сноуборду 23 февраля
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="article-other-news__card">
                            <div class="article-other-news__card-bg">
                                <img data-src="img/other-news/3.jpg" alt=""
                                    class="article-other-news__card-bg-image lazyload">
                            </div>
                            <div class="article-other-news__card-content">
                                <div class="article-other-news__card-top-row">
                                    <div class="article-other-news__card-date">
                                        · 28 февраля
                                    </div>
                                    <div class="article-other-news__card-tags">
                                        <div class="article-other-news__card-tag">
                                            новости
                                        </div>
                                    </div>
                                </div>
                                <h3 class="article-other-news__card-title">
                                    Вице-президент “Сбера” - о развитии алтайского курорта
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}