{{#extend "layout"}}
{{#content "main"}}

<section class="common-header">

    <div class="container">
        <div class="common-header__content">
            <div class="common-header__bg">
                <img src="img/vacancies-bg.jpg" alt="" class="common-header__bg-image">
            </div>
            <div class="common-header__breadcrumbs">
                <a href="#" class="common-header__breadcrumbs-link">
                    Главная
                </a>
                <span class="common-header__breadcrumbs-divider">
                    ·
                </span>

                <a href="#" class="common-header__breadcrumbs-link active">
                    Услуги
                </a>
            </div>
            <h1 class="common-header__main-title">
                Услуги
            </h1>
            <div class="common-header__text">
             Услуги курорта на все сезоны
            </div>
        </div>
    </div>
</section>

{{> filters }}


{{> activities }}




{{/content}}
{{/extend}}