{{#extend "layout"}}
{{#content "main"}}

<section class="common-header">

    <div class="container">
        <div class="common-header__content">
            <div class="common-header__bg">
                <img src="img/vacancies-bg.jpg" alt="" class="common-header__bg-image">
            </div>
            <div class="common-header__breadcrumbs">
                <a href="#" class="common-header__breadcrumbs-link">
                    Главная
                </a>
                <span class="common-header__breadcrumbs-divider">
                    ·
                </span>

                <a href="#" class="common-header__breadcrumbs-link active">
                    Вакансии
                </a>
            </div>
            <h1 class="common-header__main-title">
                ВАКАНСИИ
            </h1>
            <div class="common-header__text">
                Для работы на Всесезонный курорт «Манжерок» требуются активные, коммуникабельные и целеустремленные
                молодые люди!
            </div>
        </div>
    </div>
</section>

{{> filters }}


<section class="vacancies">
    <div class="container">
        <ul class="vacancies__list">
            <li class="vacancies__list-item">
                <div class="vacancies__accordion js-accordion">
                    <div class="vacancies__accordion-top-row">
                        <h3 class="vacancies__accordion-title">
                            официант
                        </h3>
                        <div class="vacancies__accordion-salary">
                            ЗП: обсуждается на собеседовании
                        </div>


                    </div>
                    <div class="vacancies__accordion-desc">
                        <p>
                            график: 15/15 | оформление по ТК РФ | жилье предоставляется
                        </p>
                    </div>
                    <div class="vacancies__accordion-content js-accordion-content">
                        <div class="vacancies__accordion-content-inner">
                            <div class="vacancies__accordion-info">
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Обязанности:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            качественное обслуживание гостей ресторана;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            соблюдение принятых стандартов обслуживания;
                                        </li>
                                    </ul>
                                </div>
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Требования:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            вежливость, доброжелательность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            энергичность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            коммуникабельность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            опрятность, аккуратность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            умение и готовность работать в команде;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>

                                            стрессоустойчивость;

                                        </li>
                                    </ul>
                                </div>
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Условия:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            место работы: с. Манжерок, Ленинская улица;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            оформление по ТК РФ;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            график: 15/15;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            жилье предоставляется.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="vacancies__accordion-btn js-accordion-btn">
                        <div class="vacancies__accordion-btn-gradient"></div>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--gradient">
                            детали вакансии
                        </span>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--white">
                            детали вакансии
                        </span>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--hidden">
                            скрыть
                        </span>

                    </a>
                </div>
            </li>
            <li class="vacancies__list-item">
                <div class="vacancies__accordion js-accordion">
                    <div class="vacancies__accordion-top-row">
                        <h3 class="vacancies__accordion-title">
                            КОНСУЛЬТАНТ
                        </h3>
                        <div class="vacancies__accordion-salary">
                            ЗП: обсуждается на собеседовании
                        </div>


                    </div>
                    <div class="vacancies__accordion-desc">
                        <p>
                            график работы: 5/2 (пн, вт- выходной) | оформление по ТК РФ | доставка на работу и с работы
                            служебным транспортом
                        </p>
                    </div>
                    <div class="vacancies__accordion-content js-accordion-content">
                        <div class="vacancies__accordion-content-inner">
                            <div class="vacancies__accordion-info">
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Обязанности:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            качественное обслуживание гостей ресторана;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            соблюдение принятых стандартов обслуживания;
                                        </li>
                                    </ul>
                                </div>
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Требования:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            вежливость, доброжелательность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            энергичность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            коммуникабельность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            опрятность, аккуратность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            умение и готовность работать в команде;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>

                                            стрессоустойчивость;

                                        </li>
                                    </ul>
                                </div>
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Условия:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            место работы: с. Манжерок, Ленинская улица;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            оформление по ТК РФ;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            график: 15/15;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            жилье предоставляется.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="vacancies__accordion-btn js-accordion-btn">
                        <div class="vacancies__accordion-btn-gradient"></div>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--gradient">
                            детали вакансии
                        </span>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--white">
                            детали вакансии
                        </span>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--hidden">
                            скрыть
                        </span>

                    </a>
                </div>
            </li>
            <li class="vacancies__list-item">
                <div class="vacancies__accordion js-accordion">
                    <div class="vacancies__accordion-top-row">
                        <h3 class="vacancies__accordion-title">
                            ШЕФ-КОНДИТЕР
                        </h3>
                        <div class="vacancies__accordion-salary">
                            ЗП: обсуждается на собеседовании
                        </div>


                    </div>
                    <div class="vacancies__accordion-desc">
                        <p>
                            Опыт работы кондитером в ресторане премиум класса от 2-ух лет | оформление по ТК РФ
                        </p>
                    </div>
                    <div class="vacancies__accordion-content js-accordion-content">
                        <div class="vacancies__accordion-content-inner">
                            <div class="vacancies__accordion-info">
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Обязанности:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            качественное обслуживание гостей ресторана;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            соблюдение принятых стандартов обслуживания;
                                        </li>
                                    </ul>
                                </div>
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Требования:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            вежливость, доброжелательность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            энергичность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            коммуникабельность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            опрятность, аккуратность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            умение и готовность работать в команде;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>

                                            стрессоустойчивость;

                                        </li>
                                    </ul>
                                </div>
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Условия:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            место работы: с. Манжерок, Ленинская улица;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            оформление по ТК РФ;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            график: 15/15;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            жилье предоставляется.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="vacancies__accordion-btn js-accordion-btn">
                        <div class="vacancies__accordion-btn-gradient"></div>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--gradient">
                            детали вакансии
                        </span>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--white">
                            детали вакансии
                        </span>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--hidden">
                            скрыть
                        </span>

                    </a>
                </div>
            </li>
            <li class="vacancies__list-item">
                <div class="vacancies__accordion js-accordion">
                    <div class="vacancies__accordion-top-row">
                        <h3 class="vacancies__accordion-title">
                            МЕХАНИК
                        </h3>
                        <div class="vacancies__accordion-salary">
                            ЗП: обсуждается на собеседовании
                        </div>


                    </div>
                    <div class="vacancies__accordion-desc">
                        <p>
                            опыт работы на аналогичной должности от 3 лет | высшее профессиональное (техническое)
                            образование
                        </p>
                    </div>
                    <div class="vacancies__accordion-content js-accordion-content">
                        <div class="vacancies__accordion-content-inner">
                            <div class="vacancies__accordion-info">
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Обязанности:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            качественное обслуживание гостей ресторана;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            соблюдение принятых стандартов обслуживания;
                                        </li>
                                    </ul>
                                </div>
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Требования:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            вежливость, доброжелательность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            энергичность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            коммуникабельность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            опрятность, аккуратность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            умение и готовность работать в команде;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>

                                            стрессоустойчивость;

                                        </li>
                                    </ul>
                                </div>
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Условия:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            место работы: с. Манжерок, Ленинская улица;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            оформление по ТК РФ;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            график: 15/15;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            жилье предоставляется.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="vacancies__accordion-btn js-accordion-btn">
                        <div class="vacancies__accordion-btn-gradient"></div>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--gradient">
                            детали вакансии
                        </span>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--white">
                            детали вакансии
                        </span>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--hidden">
                            скрыть
                        </span>

                    </a>
                </div>
            </li>
            <li class="vacancies__list-item">
                <div class="vacancies__accordion js-accordion">
                    <div class="vacancies__accordion-top-row">
                        <h3 class="vacancies__accordion-title">
                            ГЛАВНЫЙ СПЕЦИАЛИСТ ОТДЕЛА МАРКЕТИНГА
                        </h3>
                        <div class="vacancies__accordion-salary">
                            ЗП: обсуждается на собеседовании
                        </div>


                    </div>
                    <div class="vacancies__accordion-desc">
                        <p>
                            опыт работы на аналогичной должности от 3 лет | высшее профессиональное (техническое)
                            образование
                        </p>
                    </div>
                    <div class="vacancies__accordion-content js-accordion-content">
                        <div class="vacancies__accordion-content-inner">
                            <div class="vacancies__accordion-info">
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Обязанности:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            качественное обслуживание гостей ресторана;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            соблюдение принятых стандартов обслуживания;
                                        </li>
                                    </ul>
                                </div>
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Требования:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            вежливость, доброжелательность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            энергичность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            коммуникабельность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            опрятность, аккуратность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            умение и готовность работать в команде;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>

                                            стрессоустойчивость;

                                        </li>
                                    </ul>
                                </div>
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Условия:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            место работы: с. Манжерок, Ленинская улица;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            оформление по ТК РФ;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            график: 15/15;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            жилье предоставляется.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="vacancies__accordion-btn js-accordion-btn">
                        <div class="vacancies__accordion-btn-gradient"></div>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--gradient">
                            детали вакансии
                        </span>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--white">
                            детали вакансии
                        </span>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--hidden">
                            скрыть
                        </span>

                    </a>
                </div>
            </li>
            <li class="vacancies__list-item">
                <div class="vacancies__accordion js-accordion">
                    <div class="vacancies__accordion-top-row">
                        <h3 class="vacancies__accordion-title">
                            дворник
                        </h3>
                        <div class="vacancies__accordion-salary">
                            ЗП: обсуждается на собеседовании
                        </div>


                    </div>
                    <div class="vacancies__accordion-desc">
                        <p>
                            график работы: 5/2 | оформление по ТК РФ
                        </p>
                    </div>
                    <div class="vacancies__accordion-content js-accordion-content">
                        <div class="vacancies__accordion-content-inner">
                            <div class="vacancies__accordion-info">
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Обязанности:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            качественное обслуживание гостей ресторана;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            соблюдение принятых стандартов обслуживания;
                                        </li>
                                    </ul>
                                </div>
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Требования:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            вежливость, доброжелательность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            энергичность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            коммуникабельность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            опрятность, аккуратность;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            умение и готовность работать в команде;

                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>

                                            стрессоустойчивость;

                                        </li>
                                    </ul>
                                </div>
                                <div class="vacancies__accordion-info-item">
                                    <h4 class="vacancies__accordion-info-item-title">
                                        Условия:
                                    </h4>
                                    <ul class="vacancies__accordion-info-list">
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            место работы: с. Манжерок, Ленинская улица;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            оформление по ТК РФ;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            график: 15/15;
                                        </li>
                                        <li class="vacancies__accordion-info-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                                                <use xlink:href="#gradient-arrow"></use>
                                            </svg>
                                            жилье предоставляется.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="vacancies__accordion-btn js-accordion-btn">
                        <div class="vacancies__accordion-btn-gradient"></div>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--gradient">
                            детали вакансии
                        </span>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--white">
                            детали вакансии
                        </span>
                        <span class="vacancies__accordion-btn-text vacancies__accordion-btn-text--hidden">
                            скрыть
                        </span>

                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>


{{> contacts }}


{{/content}}
{{/extend}}