.about-features {
    margin-bottom: 10rem;
    @include breakpoint(mobile) {
        margin-bottom: 5rem;
    }
}

.about-features__content {
    padding: 0 5rem;
    @include breakpoint(mobile) {
        padding: 0;
    }
}

.about-features__list {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 6rem;

    @include breakpoint(mobile) {
        grid-gap: 5rem;
    }
}

.about-features__card {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    align-items: center;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
    }
}

.about-features__card-content {
   

    @include breakpointMF(small-tablet) {
        padding-right: 6rem;
        .about-features__list-item:nth-child(even) & {
            padding-right: 0;
            padding-left: 6rem;
            order: 2;
        }
    }

 
}

.about-features__card-title {
    font-style: normal;
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 3.8rem;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 1.3rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.about-features__card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.02em;
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
    &:last-child {
        margin-bottom: 0;
    }

    p {
        margin-bottom: 2rem;

        @include breakpoint(mobile) {
            margin-bottom: 1.5rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}


.about-features__card-image {
    display: block;
    width: 100%;
    height: auto;

    @include breakpoint(mobile) {
        order: -1;
    }
}