.activities {
    margin-bottom: 10rem;

    &--catalog {
        @include breakpointMF(small-tablet) {
            margin-top: -5rem;
            margin-bottom: 3rem;
        }
    }

    @include breakpoint(mobile) {
        margin-bottom: 5rem;
    }
}

.activities__content {
    padding: 0 5rem;
    padding-top: 9rem;
    padding-bottom: 8rem;
    background-image: url('../img/activities-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--no-bg {
        background-image: none;
    }

    @include breakpoint(mobile) {
        background-image: none;
        padding: 0;
    }
}

.activities__heading {
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.activities__top-categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    row-gap: 2rem;
    margin-bottom: 4.5rem;
    flex-wrap: wrap;

    @include breakpoint(mobile) {
        gap: 2rem;
        margin-bottom: 3rem;
    }
}

.activities__top-categories-link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: -0.02em;
    white-space: nowrap;
    position: relative;
    display: block;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }

    &::before {
        content: '';
        top: 100%;
        left: 0;
        height: 1px;
        transition: transform 0.2s;
        transform-origin: left center;
        background-color: var(--primary-color);
        transform: scaleX(0);
        position: absolute;
        width: 100%;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
    &.active {
        color: var(--primary-color);

        &::before {
            transform: scaleX(1);
        }
    }
}

.activities__results-list {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 2rem;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 1rem;
    }
}

.activities__results-list-item {
    display: flex;
    flex-direction: column;

 
}

.activities__results-card {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    flex-grow: 1;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::before {
        content: '';
        display: block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding-bottom: 100%;
    }

    .no-touch &:hover {
        color: white;

        .activities__results-card-content {
            border-color: transparent;
            background-color: transparent;
        }

        .activities__results-card-icon {
            opacity: 0;
        }

        .activities__results-card-text {
            opacity: 1;
        }

        .activities__results-card-sliding-content {
            transform: translateY(-3.8rem);
        }

        svg {
            fill: white;
        }
    }
}

.activities__results-card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 0.2s;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
}

.activities__results-card-ornament {
    position: absolute;
    right: -4.2rem;
    top: 50%;
    z-index: 5;
    height: auto;
    transform: translateY(-50%);
    width: 5.8rem;
}

.activities__results-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activities__results-card-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #eaeae9;
    padding: 2rem;
    transition: border-color 0.2s, background-color 0.2s;

    @include breakpoint(mobile) {
        padding: 1.5rem;
    }

    svg {
        flex-shrink: 0;
        width: 2rem;
        height: 1.2rem;
        fill: var(--primary-color);
        margin-top: auto;
        transition: fill 0.2s;
    }
}

.activities__results-card-icon {
    width: auto;
    height: 2.8rem;
    flex-shrink: 0;
    object-fit: contain;
    margin-bottom: 1rem;
    align-self: flex-start;
    transition: opacity 0.2s;

    @include breakpoint(mobile) {
        height: 2.4rem;
    }
}

.activities__results-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: -0.02em;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.activities__results-card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    transition: opacity 0.2s;
    letter-spacing: -0.02em;
    opacity: 0;
    position: absolute;
}

.activities__results-card-sliding-content {
    margin-bottom: 2rem;
    transition: transform 0.2s;
}

.activities__tab-items {
    position: relative;
}

.activities__tab-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    z-index: 5;

    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
        z-index: 10;
        position: relative;
    }
}

.activities__filters-form {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -2rem;

    @include breakpoint(mobile) {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 1rem;
    }
}

.activities__filters-checkbox {
    user-select: none;

    flex-shrink: 0;
}

.activities__filters-checkbox-content {
    white-space: nowrap;
    user-select: none;
    text-align: center;
    padding: 0.8rem 1.4rem;
    background: #ffffff;
    border: 1px solid #eaeae9;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    color: #393939;
    min-width: 8.4rem;
    display: block;
    transition: color 0.2s, border-color 0.2s, opacity 0.2s;
    cursor: pointer;

    @include breakpoint(mobile) {
        min-width: none;
    }
}

.activities__filters-checkbox-input {
    display: none;
}

.activities__filters-checkbox-input[disabled] ~ .activities__filters-checkbox-content {
    opacity: 0.5;
    cursor: default;
}

.activities__filters-checkbox-input:checked ~ .activities__filters-checkbox-content {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.activities__events-list {
    margin: 0 -1rem;
    margin-top: 4rem;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 3rem;

    @include breakpoint(mobile) {
        padding: 0;
        margin: 0;
        margin-top: 2rem;
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
    }
}

.activities__events-list-item {
    display: flex;
    flex-direction: column;
    &.hidden {
        display: none;
    }
}



.activities__events-card {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background: #ffffff;
    border: 1px solid #eaeae9;
    min-height: 35rem;
    transition: color 0.2s, border-color 0.2s;
    flex-grow: 1;
    @include breakpoint(mobile) {
        padding: 2rem;
        min-height: 22rem;
    }

    .no-touch &:hover,
    .touch &:active {
        border-color: var(--primary-color);
    }
}

.activities__events-card-date {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1aa456;
    padding: 0.8rem 1.2rem;
    border: 1px solid currentColor;
    margin-bottom: 3rem;
    align-self: flex-start;

    &--lightgreen {
        color: #74b743;
    }

    &--blue {
        color: #40acd6;
    }
}

.activities__events-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-top: auto;
    letter-spacing: -0.02em;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}
