.news {
    padding-top: 5rem;
    margin-bottom: 10rem;

    @include breakpoint(mobile) {
        padding-top: 3rem;
        margin-bottom: 5rem;
    }

    .inner-container {
        display: flex;
        flex-direction: column;
    }
}

.news__breadcrumbs {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 4.4rem;
    margin-left: 4rem;

    @include breakpoint(mobile) {
        margin-left: 0;
        margin-bottom: 3rem;
    }
}

.news__breadcrumbs-link:not(.active) {
    color: #c3c5c8;
    &:link,
    &:visited {
        color: #c3c5c8;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--text-color);
    }
}

.news__breadcrumbs-divider {
    margin: 0 0.2rem;
}

.news__top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
}

.news__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: var(--manzherok);

    @include breakpoint(mobile) {
        font-size: 2.6rem;
        line-height: 1.2;
        margin-bottom: 1.5rem;
    }
}

.news__categories-list {
    display: flex;
    align-items: center;
    gap: 2rem;

    flex-wrap: wrap;

    @include breakpoint(mobile) {
        gap: 1rem;
        margin-bottom: 0.5rem;
    }
}

.news__categories-list--vertical {
    max-width: 104.8rem;
    width: 100%;
    margin: 0 auto;
}

.news__categories-list-item {
}

.news__heading-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.02em;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
}

.news__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    grid-row-gap: 8rem;

    @include breakpointMF(small-tablet) {
        &--vertical {
            grid-template-columns: minmax(0, 1fr);
            grid-gap: 3rem;
        }
    }

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 3rem;
    }
}

.news__list-item {
    display: flex;
    flex-direction: column;
}

.news__card {
    display: flex;
    flex-direction: column;

    .no-touch &:hover,
    .touch &:active {
        .news__card-image {
            transform: scale(1.03);
        }
    }

    @include breakpointMF(small-tablet) {
        .news__list--vertical & {
            flex-direction: row;
            align-items: center;
        }
    }

  
}

.news__card-content {
    @include breakpointMF(small-tablet) {
        .news__list--vertical & {
            width: 50%;
            flex-grow: 1;
        }
       
    }
}

.news__image-container {
    position: relative;
    margin-bottom: 3rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    @include breakpointMF(small-tablet) {
        .news__list--vertical & {
            margin-bottom: 0;
            margin-right: 5rem;
            width: 45rem;
            flex-shrink: 0;
        }
    }

  

    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 56.25%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }
}

.news__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s;
}

.news__card-tags {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    top: 3rem;
    left: 3rem;
    right: 3rem;
    z-index: 5;

    @include breakpoint(mobile) {
        left: 1rem;
        top: 1rem;
        right: 1rem;
    }
}

.news__card-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    flex-shrink: 0;
}

.news__card-title {
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: -0.02em;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 1.2;
    }
}

.news__card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.02em;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }
}

.news__show-more {
    width: 25rem;
    margin-top: 5rem;
    align-self: center;

    @include breakpoint(mobile) {
        margin-top: 3rem;
    }
}
