.reviews {
    margin-bottom: 8rem;

    @include breakpoint(mobile) {
        margin-bottom: 5rem;
    }
}

.reviews__heading {
    margin-bottom: 9rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.reviews__slider {
    position: relative;

    .swiper-slide {
        width: 33.33%;

        @include breakpoint(mobile) {
            width: 84%;
            padding-right: 1.2rem;
            box-sizing: content-box;
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.reviews__slider-card {
    display: flex;
    flex-direction: column;
}

.reviews__slider-card-top-row {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #888d8a;
    padding-bottom: 1rem;

    @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
    }
}

.reviews__slider-card-author-name {
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: -0.02em;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.reviews__slider-card-rating {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 1rem;

    @include breakpoint(mobile) {
        gap: 0.5rem;
    }

    svg {
        flex-shrink: 0;
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--primary-color);
    }
}

.reviews__slider-card-text,
.reviews__slider-card-text-hidden {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.02em;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }
}

.reviews__slider-card-show-more {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.02em;
    color: var(--primary-color);
    margin-top: 1rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }
    &:link,
    &:visited {
        color: var(--primary-color);
    }
}

.reviews__slider-arrows {
    display: contents;

    @include breakpoint(mobile) {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 3rem;
        justify-content: flex-end;

        .slider-arrow {
            position: static !important;
        }
    }
}

.reviews__slider-card-text {
    .text-shown & {
        display: none;
    }
}

.reviews__slider-card-text-hidden {
    display: none;

    .text-shown & {
        display: contents;
    }
}
